{% extends "./base.html" %}
{% load crispy_forms_tags %}
{% block body %}
<p id="def_roll" style="display:none;">{{def_roll}}</p>
{{sucess}}
<form action="{% url 'admission_form' %}" method="post">

    {% csrf_token %}

    {{form|crispy}}

<button type="submit">
    Submit
</button>
</form>

<script>
    const inputField = document.getElementById("id_std_name");
    inputField.addEventListener("keyup", function(event) {
      event.preventDefault();
      inputField.value = inputField.value.toUpperCase();
    });

   
    const parentsName = document.getElementById("id_parents_name");

    parentsName.addEventListener("keyup", function(event) {
      event.preventDefault();
      parentsName.value = parentsName.value.toUpperCase();
    });
    //let roll=document.getElementById("id_roll_no");
    //let def_roll=parseInt(document.getElementById("def_roll").innerText;)
    </script>

    </script>

  
{% endblock %}
