{% extends "./base.html" %}

{% block style %}

.add{
    background-color: #3f87a6;
    padding:10px;
    margin:10px;
    box-shadow: none;
    border-radius: 13%;
}
.btn_txt{
    color:white;
    text-decoration: none;

}
{% endblock %}

{% block body %}

<button class="add">
    <a href="{%url 'add_class'%}" class="btn_txt">Add Class</a>
</button>
<button class="add">
    <a href="{%url 'add_subj'%}" class="btn_txt">Add Subjects</a>
</button>

<TABLE>
    <thead>
        <tr>
            <th>Class Name</th>
            <th>Section</th>
            <th>Subjects</th>
           
            </tr>
        </thead>
    <tbody>
        {% for class in classes %}
        <tr>
            <td>{{class.class_name}}</td>
            <td>{{class.section}}</td>
            <td>
<ul>
                {% for subject in class.subject.all %}

                <li>{{subject.subj_name}}</li>

                {% endfor %}
</ul>
            </td>
           
        </tr>
{% endfor %}</tbody>
</TABLE>
{% endblock %}