{% extends "administrative/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block style %}
.billing_form > div{
    padding:10px;
}
{% endblock %}
{% block scripts %}

{% endblock %}
{% block body %}

<table>
    <thead>
        <tr>
            <th>
                Class
            </th>
            <th>
                Admission Fee
            </th>
            <th>
                Monthly Fee
            </th>
        </tr>
    </thead>
        
    <tbody>
        {% for class_bill in class_bills %}
        <tr>
            <td>
                {{class_bill.indv_class}}
            </td>
            <td>
                {{class_bill.admissioin_fee}}
            </td>
            <td>
                {{class_bill.monthly_fee}}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>



<form action="{%url 'billing' %}" method="post" class="billing_form">

{{form|crispy}}


    <input type="submit" value="Submit">

</form>

<script>

    $(document).ready(function() {
        $('#id_student').select2();
    }); 
    $(document).ready(function() {
        $('#id_transportation').select2();
    }); 
    
</script>


{% endblock %}