{% extends "administrative/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block style %}
.billing_form > div{
    padding:10px;
}
{% endblock %}
{% block scripts %}

{% endblock %}
{% block body %}

<form action="{% url "std_search" %}" method="get" style="display:none;">
<input type="number" id="inp_get"   name="student_id">
</form>

<table>
    <thead>
        <tr>
            <th>
                Class
            </th>
            <th>
                Admission Fee
            </th>
            <th>
                Monthly Fee
            </th>
        </tr>
    </thead>
        
    <tbody>
      
        <tr>
            <td id="tbl_class">
             
            </td>
            <td id="tbl_admission">
              
            </td>
            <td id="tbl_montly">
              
            </td>
          
        </tr>
       
    </tbody>
</table>



<table>
    <thead>
        <tr>
            <th>
                Previous Recipt NO
            </th>
            <th>
                Previous Due
            </th>
            <th>
                Previous Billing Date
            </th>
        </tr>
    </thead>
        
    <tbody>
      
        <tr>
            <td id="previous_recipt">
             
            </td>
            <td id="previous_due">
              
            </td>
            <td id="previous_billing_date">
              
            </td>
          
        </tr>
       
    </tbody>
</table>

{{success}}

<form action="{%url 'billing' %}" method="post" class="billing_form" >
{% csrf_token %}
 {% comment %} {{form.as_table}}  {% endcomment %}
 {{form|crispy}}  


<input type="submit" value="Submit" >

</form>

 
<script src="{% static "js/scripts.js" %}">
    
    </script> 
{% endblock %}